@charset "UTF-8;"

body 
{
background-color: burlywood;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}

h1 {
    color: rgb(139, 0, 58);
background-color: bisque;
}

h2 {
color: rgb(47, 0, 255);
}

p {
text-align: justify;
}


